@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .container {
    @apply rounded-xl m-3 text-white w-2/5 bg-slate-800
  }

  .normal-th{
    @apply border-b text-left pb-1
  }

  .hover-tr {
    @apply hover:bg-slate-500 hover:cursor-pointer
  }

  .mouse-hover {
    @apply hover:cursor-pointer
  }

  .mouse-help {
    @apply hover:cursor-help
  }

  .button {
    @apply 
    px-3
    py-1
    rounded-md
    font-medium
    text-sm 
    text-white 
    bg-stone-900 
    ring-1 
    ring-neutral-700 
    transition ease-in-out 
    hover:ring-sky-500/50 
    hover:bg-sky-600 
    hover:scale-110 
    duration-500
    hover:font-semibold
  }

  .button-set{
    @apply 
    px-3 
    rounded-md
    /* font-semibold  */
    text-sm
    font-medium
    text-white 
    bg-stone-900 
    ring-neutral-700 
    transition ease-in-out 
    hover:ring-sky-300/80  
    hover:scale-110 
    duration-500
    hover:font-semibold
  }
}
